body{
    background: #f4f4f4;
}
.bread-crumb {
    background-color: #bbbbbb;
    padding: 10px 0;
    margin-bottom: 16px;
}
.wrap-background {
    margin-bottom: 32px;
}
.allCard {
    width: 80%;
    background-color: #fff;
    padding: 0 8px;
}
.title-page {
    font-size: 28px;
    padding: 8px 0;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
.products-view-grid {
    margin: -8px -8px 0 -8px;
    padding-bottom: 16px;
    display: flex;
    flex-wrap: wrap;
}
.card-product-wrapper {
    padding: 8px;
}
.card-product {
    border: 1px solid #bbbbbb;
    overflow: hidden;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.1), 0 2px 6px 2px rgba(60, 64, 67, 0.15);
    height: fit-content;
    padding: 0;
    transition: all 0.3s;
}
.card-product:hover {
    box-shadow: none;
}
.image{
    width: 100%;
    height: 300px;
}
.price_container {
    height: fit-content;
    justify-content: flex-start;
}
.product_info {
    height: 70px;
    margin: 10px 15px 10px 15px;
    font-family: 'Open Sans', sans-serif;
}
.title {
    text-align: justify;
    line-height: 20px;
    font-size: 16px;
    overflow: hidden;
    font-weight: 600;
    color: #382c29;
    margin: 0px;
}
.description {
    font-size: 13.5px;
    overflow: hidden;
}
.price ins{
    font-weight: 600;
    font-size: 18px;
    color: #e0795e;
    text-decoration: none;
    margin-left: 15px;
}
.action{
    margin-bottom: 15px;
}
.status{
    color: #2cc067;
    font-size: 15px;
    margin-left: 15px;
    margin-right: 10px;
}
.btnDetail a:link{
    color:black;
    background-color: transparent;
    text-decoration: none;
}
.btnCart a:link{
    color:black;
    background-color: transparent;
    text-decoration: none;
}
.btnCart a:visited, .btnDetail a:visited{
    color: black;
    background-color: transparent;
    text-decoration: none;
}

.btnCart a:hover, .btnDetail a:hover{
    color: red;
    background-color: transparent;
    text-decoration: underline;
}
.btnCart, .btnDetail{
    background-color: #d8d5cf;
}
.btnCart:hover{
    transform:scale(1.2);
}
.btnDetail:hover {
    transform:scale(1.2);
}
.side-bar {
    font-family: 'Open Sans', sans-serif;
    width: 20%;
    background-color: #fff;
    border-right: 1px solid rgba(0,0,0,0.2);
}
.side-bar ul {
    height: 100%;
    width: 100%;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}
.main-cate, .sub-cate-name {
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
.sub-cate-name {
    text-transform: uppercase;
}
.side-bar ul li {
    width: 100%;
    font-size: 14px;
    line-height: 50px;
}
.category li a, .main-cate li a {
    color: black;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    display: block;
    width: 100%;
    padding-left: 20px;
    transition: all 0.1s;
}
.category li a:hover, .main-cate li a:hover  {
    color: #d8d5cf;
    background: #1e1e1e;
}
.sub-cate li a {
    font-size: 14px;
    padding-left: 40px;
}
hr {
    height: 1px;
    border-width: 0;
    color: gray;
    background-color: gray;
    margin: 0;
}