body{
    background: #d8d5cf;
}
.allCard {
    width: 80%;
}
.product-grid {
    display: grid;
    grid-template-columns: auto auto auto;
}
.card_products {
    border: 1px solid rgba(0, 0, 0, 0.8);
    height: fit-content;
    padding: 0;
}
.image{
    width: 100%;
    height: 300px;
}
.price_container {
    height: fit-content;
    justify-content: flex-start;
}
.product_info {
    height: 70px;
    margin: 10px 15px 10px 15px;
    font-family: 'Open Sans', sans-serif;
}
.title {
    text-align: justify;
    line-height: 20px;
    font-size: 16px;
    overflow: hidden;
    font-weight: 600;
    color: #382c29;
    margin: 0px;
}
.description {
    font-size: 13.5px;
    overflow: hidden;
}
.price ins{
    font-weight: 600;
    font-size: 18px;
    color: #e0795e;
    text-decoration: none;
    margin-left: 15px;
}
.action{
    margin-bottom: 15px;
}
.status{
    color: #2cc067;
    font-size: 15px;
    margin-left: 15px;
    margin-right: 10px;
}
.btnDetail a:link{
    color:black;
    background-color: transparent;
    text-decoration: none;
}
.btnCart a:link{
    color:black;
    background-color: transparent;
    text-decoration: none;
}
.btnCart a:visited, .btnDetail a:visited{
    color: black;
    background-color: transparent;
    text-decoration: none;
}

.btnCart a:hover, .btnDetail a:hover{
    color: red;
    background-color: transparent;
    text-decoration: underline;
}
.btnCart, .btnDetail{
    background-color: #d8d5cf;
}
.btnCart:hover{
    transform:scale(1.2);
}
.btnDetail:hover {
    transform:scale(1.2);
}
.side-bar {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    width: 20%;
    height: 100%;
    background: #151515;
    color: white;
}
.side-bar .text {
    padding-left: 20px;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 50px;
    font-weight: 500;
    letter-spacing: 1.5px;
}
.side-bar ul {
    height: 100%;
    width: 100%;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}
.side-bar ul, .sub-cate-name {
    border-bottom: 1px solid rgba(255,255,255,0.1);
}
.side-bar ul li {
    width: 100%;
    font-size: 14px;
    line-height: 50px;
}
.category li a, .main-cate li a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    display: block;
    width: 100%;
    padding-left: 20px;
}
.category li a:hover, .main-cate li a:hover  {
    color: #d8d5cf;
    background: #1e1e1e;
}
.sub-cate li a {
    font-size: 14px;
    padding-left: 40px;
}
hr {
    height: 1px;
    border-width: 0;
    color: gray;
    background-color: gray;
    margin: 0;
}