<!DOCTYPE html>
<html lang="en" layout:decorate="_layout" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/shop.css}">
</head>
<body layout:fragment="content">
    <section class="bread-crumb">
        <div class="container">Home / Shop / All Product</div>
    </section>
    <main class="container wrap-background" style="display: flex; justify-content: space-between;">
        <nav class="side-bar">
            <ul class="category">
                <li class="sub-cate-name"><a th:href="@{/shop}">All Products</a></li>
                <li th:each="mainCat : ${ListCat}">
                    <ul class="main-cate"  th:each="mc: ${mainCat}">
                        <li class="sub-cate-name">
                            <a th:href="'/shop/maincategory/'+ ${mc.key.name}">[(${mc.key.name})]</a>
                        </li>
                        <ul class="sub-cate">
                            <li th:each="subCat : ${mc.value}">
                                <a th:href="'/shop/subcategory/'+ ${subCat.id}">[(${subCat.name})]</a>
                            </li>
                        </ul>
                    </ul>
                </li>
            </ul>
        </nav>
        <div class="allCard">
            <h1 class="title-page">Title</h1>
            <section class="row products-view-grid">
                <div class="col-4 card-product-wrapper" th:each="product : ${products}">
                    <div class="card-product">
                        <img class="image" th:alt="${product.productName}"
                             th:src="@{${'/images/' + product.imageName}}" width="300px"/>
                        <div class="product_info">
                            <p class="title" th:text="${product.productName}"></p>
                            <p class="description" th:text="${product.description}"></p>
                        </div>
                        <div class="price_container">
                            <span class="price">
                                <span class="elecho-price" style="position: relative;">
                                    <ins>
                                        <span class="amount">
                                            <bdi th:text="'Price: '+${product.convert(product.price)}+'₫'">
                                            </bdi>
                                        </span>
                                    </ins>
                                </span>
                            </span>
                        </div>
                        <div class="action" style="display: flex;">
                            <span class="status" style="width: 50%">
                            <i class="fa fa-check"></i>
                                In stock
                            </span>
                            <div style="justify-content: space-between; width: 70%; display: flex; padding: 0px 20px">
                            <button class="btnCart" style="margin-right: 3px;border-radius: 10px;padding: 3px">
                                <a style="text-decoration: none" th:href="@{/addToCart/{id}(id = ${product.productId})}">Add <i
                                        class="fas fa-cart-plus" style="font-size: 20px"> </i></a>
                            </button>
                            <button class="btnDetail" style="border-radius: 10px;padding: 3px">
                                <a style="text-decoration: none" th:href="'/shop/viewproduct/' + ${product.productId}">Detail <i
                                        class="fa-solid fa-circle-info" style="font-size: 20px"></i></a>
                            </button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <script type="text/javascript">
        document.querySelectorAll('.sidebar-submenu').forEach(e => {
            e.querySelector('.sidebar-menu-dropdown').onclick = (event) => {
                event.preventDefault()
                e.querySelector('.sidebar-menu-dropdown .dropdown-icon').classList.toggle('active')

                let dropdown_content = e.querySelector('.sidebar-menu-dropdown-content')
                let dropdown_content_lis = dropdown_content.querySelectorAll('li')
                let active_height = dropdown_content_lis[0].clientHeight * dropdown_content_lis.length

                dropdown_content.classList.toggle('active')
                dropdown_content.style.height = dropdown_content.classList.contains('active') ? active_height + 'px' : '0'
            }
        })
    </script>
</body>
</html>


